body {
    font-size: 20px;
}
h1 {
    text-align: left;
}
.primero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    border-radius: 10px;
    border:  1px solid #BCBCBC;
    width: 450px;
    gap: 1rem;
}
li {
    list-style:none;
    color: #3272DC;
}
.boxOne a {
    text-decoration: none;
}
a:focus {
    color: red;
    background: inherit;
}


.boxOne {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem 2rem; 
    background-color: #F0F0F0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.boxTwo {
    margin: 1rem;
    text-align: center;
    margin-top: 0;
}
button {
    padding: 8px;
    border-radius: 8px;
}
.down {
    background-color: #3272DC;
    border-color: #3272DC;
    color: white;
    cursor: pointer;
}
.down:hover{
    filter: brightness(1.25);
    transform: scale(1.1);
}
img {
    height: 15px;
    width: 20px;
    filter: brightness(1.1); /* pra elimina lo blanco de la imagen */
    mix-blend-mode: multiply;
}